.Sidebar {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 100%;
  background: #955f31;
  padding: 10px;
}
.sidebar-title {
  margin: 20px;
  font-size: 30px;
  color: #fff;
}
table {
  background: #9e8d77;
  border-radius: 10px;
  padding: 10px;
}
tr {
  background: rgba(81, 127, 131, 0.8);
}
th {
  padding: 3px 10px;
}

.open {
  width: 300px;
}
.close {
  display: none;
  width: 50px;
}
.sidebar-btn {
  font-size: 40px;
  font-weight: 1000px;
  background: transparent;
  border: none;
  color: #fff;
}